<div class="max-w-6xl mx-auto py-8 px-4 sm:px-6 lg:px-8 pb-16">
    <!-- Header -->
        <div class="text-center mb-12 ">
            <h1 class="text-3xl font-bold text-gray-900 mb-4">Foro</h1>
            <p class="text-lg text-gray-600 max-w-3xl mx-auto">
                Agrega temas de debates o preguntas relacionadas a la gestión de residuos y participa en la conversación con la comunidad.
            </p>
        </div>
  <!-- Nuevo tema -->
  <div class="bg-white rounded-lg shadow-md p-6 mb-8">
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Crear nuevo tema</h2>
    <div class="flex space-x-4">
      <input type="text" [value]="tituloTema" (input)="tituloTema = $event.target.value" placeholder="Escribe el título del tema..."
        class="flex-grow border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-500">
        <input type="text" [value]="nuevoTema" (input)="nuevoTema = $event.target.value" placeholder="Escribe la descripcion del tema..."
        class="flex-grow border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-500">
      <button class="bg-emerald-600 text-white px-6 py-2 rounded-md font-medium hover:bg-emerald-700" (click)="crearNuevoTema()">
        Publicar
      </button>
    </div>
  </div>
   <!-- Mensaje de éxito -->
    @if (mensajeExito) {
    <div class="bg-green-100 border border-green-300 text-green-700 px-4 py-3 rounded-md mb-6">
        {{ mensajeExito }}
    </div>
    }

  <!-- Lista de temas -->
  <div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold text-gray-900 mb-4">Temas de conversación</h2>
    <div class="divide-y divide-gray-200">
        @for (tema of temas; track tema.id) {
      <div class="py-4 hover:bg-gray-50 cursor-pointer"
           (click)="verTema(tema.id)">
        <div class="flex justify-between items-center">
          <h3 class="text-lg font-medium text-gray-800">{{ tema.titulo }}</h3>
          @if (tema.comentarios == 0) {
            <span class="text-sm text-gray-500">Sin comentarios</span>
          } @else {
            <span class="text-sm text-gray-500">{{ tema.comentarios }} comentarios</span>
          }
        </div>
        <p class="text-sm text-gray-600 mt-1">{{ tema.descripcion }}</p>
      </div>
      }
    </div>
  </div>
</div>
