<nav class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0 flex items-center">
          <a href=""><lucide-icon name="trash-2" class="h-8 w-8 text-emerald-600"></lucide-icon></a>
          <span class="ml-2 text-xl font-bold text-gray-900"> <a href="">EcoBolívar</a></span>
        </div>
      </div>
      <div class="hidden md:ml-6 md:flex md:items-center md:space-x-8">
        <a href="" class="text-emerald-600 font-medium">Inicio</a>
        <a href="eco-points" class="text-gray-500 hover:text-emerald-600">Mapa Eco-Puntos</a>
        <a href="reports" class="text-gray-500 hover:text-emerald-600">Reportes</a>
        <a href="calendar" class="text-gray-500 hover:text-emerald-600">Calendario</a>
        <a href="education" class="text-gray-500 hover:text-emerald-600">Educación</a>
        <a href="foro" class="text-gray-500 hover:text-emerald-600">Foro</a>
      </div>
      @if (!isLoggedIn) {
      <div class="flex items-center">
        <a [routerLink]="'/login'" class="text-gray-500 hover:text-emerald-600 mr-4">
          Iniciar Sesión
        </a>

        <a [routerLink]="'/register'" class="btn-primary text-white px-4 py-2 rounded-md font-medium">Registrarse</a>
      </div>
      }@else {
      <div class="flex items-center space-x-4">
        <div>
        <img [src]="photo || 'assets/img/default-avatar.png'" alt="Foto de perfil"
          class="h-12 w-12 rounded-full object-cover border-2 border-white" />
        </div>
        <a (click)="logout()" class="text-gray-500 hover:text-emerald-600 mr-4 cursor-pointer">
          Cerrar Sesión
        </a>
      </div>
      }
    
      <div class="-mr-2 flex items-center md:hidden">
        <button type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-emerald-500"
          aria-expanded="false">
          <lucide-icon name="menu"></lucide-icon>
        </button>
      </div>
    </div>
  </div>
</nav>